h1, h2, h3 {
 color: steelblue;
}

.chart rect {
  fill: steelblue;
}

.chart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

div {
  font-size: 16px;
  text-align: center;
  line-height: 1.73;
  letter-spacing: 1.5px;
}

ol {
    counter-reset: li; /* Inicia el contador */
    list-style: none; /* Elimina la numeracion por defecto */
    *list-style: decimal; /* Mantiene la numeracion por defecto para IE6/7 */
    font: 15px 'trebuchet MS', 'lucida sans';
    padding: 0;
    margin-bottom: 4em;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

ol ol {
    margin: 0 0 0 2em; /* Margen izquierdo para la indentacion de listas de listas */
}

.rectangle-list a{
    position: relative;
    display: block;
    padding: .4em .4em .4em .8em;
    *padding: .4em;
    margin: .5em 0 .5em 2.5em;
    background: #ddd;
    color: #444;
    text-decoration: none;
    transition: all .3s ease-out;
}

.rectangle-list a:hover{
    background: #eee;
}

.rectangle-list a:before{
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -2.5em;
    top: 50%;
    margin-top: -1em;
    background: steelblue;
    height: 2em;
    width: 2em;
    line-height: 2em;
    text-align: center;
    font-weight: bold;
}

.rectangle-list a:after{
    position: absolute;
    content: '';
    border: .5em solid transparent;
    left: -1em;
    top: 50%;
    margin-top: -.5em;
    transition: all .3s ease-out;
}

.rectangle-list a:hover:after{
    left: -.5em;
    border-left-color: steelblue;
}

.eventsList {
    max-height: 60%;
    overflow-y: scroll;
}

div#sub-content {
    margin: auto;
    padding: 1em;
    display: inline-block;
    fontSize: 18px;
}

div#eventComponent {
    height: 500px;
    width: auto;
    display: inline-block;

}
div#infoComponent {
    width: auto;
    display: inline-block;
}