<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>Security Network Application | {% block title %}{% endblock %}</title>

    {% if request.user.username == "pfc" %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'bower_components/c3/c3.css' %}" type="text/css"/>
    {% else %}
    <link rel="stylesheet" href="{% static 'build/css/main.css' %}" type="text/css"/>
    {% endif %}

</head>
<body>

{% block content %}

{% endblock %}

    <script src="{% static 'bower_components/react/react.js' %}"></script>
    <script src="{% static 'bower_components/react/react.min.js' %}"></script>
    <script src="{% static 'bower_components/react/react-dom.js' %}"></script>
    <script src="{% static 'bower_components/babel-browser/browser.js' %}"></script>
    <script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'bower_components/marked/marked.min.js' %}"></script>
    <script src="{% static 'bower_components/d3/d3.min.js' %}" charset="utf-8"></script>
    <script src="{% static 'bower_components/c3/c3.min.js' %}"></script>
    <script src="{% static 'bower_components/react-d3/dist/public/js/react-d3.min.js' %}"></script>
    <script src="{% static 'nv.d3.min.js' %}"></script>

    {% if request.user.username == "pfc" %}
    <script type="text/babel" src="{% static 'js/indexReact.js' %}"></script>
    {% else %}
    <script type="text/babel" src="{% static 'build/js/indexReact.js' %}"></script>
    {% endif %}
</body>
</html>