<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Events</title>
</head>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript">
    $('#list-events').delay(800);
</script>
<body>
{% load handlers %}
<h1>{{ log_source.Type }} - {{ log_source.Description }}</h1>
<h3>
    List of events:
</h3>
<div id="list-events">
<ul>
    {% for item in events_list %}
    <li>
        <a href="{% url 'secapp:event_information' log_source.id item.id %}">
            {{ item.Timestamp }}:{{ item.Timestamp|get_seconds_ts}}.{{ item.Timestamp|get_miliseconds_ts}}
            -
            {{ item.Comment }}
        </a>
    </li>
    {% endfor %}
</ul>
</div>
<p><a href="{% url 'secapp:index' %}">Index</a></p>
</body>
</html>
