{% extends 'MasterPages/MasterPage.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<div id="content">

</div>
<div id="chart">
<svg></svg>
</div>
<div id="sub-content">
<div id="info">

</div>
</div>
<div id="events-info">

</div>
{% if latest_source_list %}
<ul>
    {% for logsource in latest_source_list %}
    <li><a href="{% url 'secapp:events' logsource.id %}">{{ logsource.Type }}</a></li>
    {% endfor %}
</ul>
{% else %}
<p> No sources are available.</p>
{% endif %}
{% endblock %}