{% extends 'MasterPages/MasterPage.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<div id="content"></div>
<div id="chart"><svg></svg></div>
<br/>
<br/>
<br/>
<br/>
<div class="row">
    <div id="sub-content">
        <div class="col-md-6" id="eventComponent"></div>
        <div class="col-md-6" id="infoComponent"></div>
    </div>
</div>


<table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>ID-Events</th>
                <th>Timestamp</th>
                <th>Comment</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>ID-Events</th>
                <th>Timestamp</th>
                <th>Comment</th>
            </tr>
        </tfoot>

    </table>

{% if latest_source_list %}
<ul>
    {% for logsource in latest_source_list %}
    <li><a href="{% url 'secapp:events' logsource.id %}">{{ logsource.Type }}</a></li>
    {% endfor %}
</ul>
{% else %}
<p> No sources are available.</p>
{% endif %}

{% endblock %}
